@model LWMS.Models.discount_actives

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>discount_actives</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.merchant_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.merchant_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.food_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
