@model LWMS.Models.merchants

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>merchants</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gourmet_palace_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gourmet_palace_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shop_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shop_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shopowner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shopowner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enter_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enter_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.invest_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invest_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qrcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qrcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flavor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flavor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.join_full_reduce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.join_full_reduce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.join_discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.join_discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.join_buy_gift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.join_buy_gift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kitchen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitchen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
