@model LWMS.Models.shops

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>shops</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.gourmet_palace_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.gourmet_palace_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.position)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.position)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.area)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.area)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.rent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.created_at)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.created_at)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.updated_at)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.updated_at)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
