@model IEnumerable<LWMS.ViewModels.FoodsMerchant>
@{
    ViewBag.Title = "菜品管理";
}
<h4  style="background:#ebf1f1; ">菜品管理 </h4>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

</head>
<body>
    @*http://localhost:46369/foods/create?Create=添加菜品&keleyi_com=&spzt=0&sxjzt=0*@
    <style type="text/css">
        .tr1 {
            background-color: #FF9933;
        }
    </style>
    <script language="JavaScript">
        $(function () {
            //$("#tb tr")--选择id为tb的table，再选择该table的行tr
            // mouseover--鼠标放上去的事件（悬停）
            //$("#tb tr").mouseover();--给tb的行tr添加鼠标悬停事件
            $("#tb tr").not("#tr1").mouseover(function () {
                $(this).addClass("tr1");//添加样式tr1，$(this)表示当前选择的元素。
            });
            // mouseout--鼠标离开的事件
            $("#tb tr").mouseout(function () {
                $(this).removeClass("tr1");//去掉样式tr1
            });

            $("#tb tr").not("#tr1").click(function () {
                var content = $(this).children("td:eq(0)").text(); //添加样式tr1，$(this)表示当前选择的元素。
                if (content != "") {
                    alert(content);
                    $("#field＿name").val(content) ;
                }
            });
        });
    </script>
    @using (Html.BeginForm("action", "foods"))
    {
        <p>
            <input type="submit" value="添加菜品" name="action:insert" class="btn btn-default" />
            @*@Html.ActionLink("添加菜品", "Create")*@
            @*@Html.ActionLink("上架", "Create")
                @Html.ActionLink("下架", "Create")*@
            <input type="submit" value="上架" name="action:up" />
            <input type="submit" value="下架" name="action:down" />
        </p>
 
        <p>
            名称 @Html.TextBox("foodname")

            审批状态
            @{ List<SelectListItem>
                     list = new List<SelectListItem>
                         {
                new SelectListItem { Text = "全部", Value = "0",Selected = true},
                new SelectListItem { Text = "待审批", Value = "1" },
                 new SelectListItem { Text = "审批通过", Value = "2" },
                  new SelectListItem { Text = "审批驳回", Value = "3" }
                     };
            }
            @Html.DropDownList("spzt", list)

            @{ List<SelectListItem>
                 list1 = new List<SelectListItem>
                  {
                new SelectListItem { Text = "全部", Value = "0",Selected = true},
                new SelectListItem { Text = "上架", Value = "1" },
                 new SelectListItem { Text = "下架", Value = "2" },
                 };
            }
            上下架状态   @Html.DropDownList("sxjzt", list1)

            <input type="submit" value="搜索" name="action:search" class="btn btn-default" />
        </p>
               
    <table class="table" id="tb">
        <tr id="tr1">
            <th> 编号   </th>
            <th> 名称  </th>
            <th>   分类 </th>
            <th>  排序号    </th>
            <th>  价格    </th>
            <th>   审批状态   </th>
            <th> 上下架状态   </th>
            <th>  描述    </th>
            <th>    创建时间     </th>
            <th>    创建人     </th>
            <th>操作</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sequence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.approval_status1)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.sale_status1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.desc)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.created_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.merchantname)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>     
        }
    </table>
    <input type="hidden" name="field＿name" id="field＿name" value="value">
        }
   

</body>
</html>
