@model IEnumerable<LWMS.ViewModels.MerchantShopCost>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>  美食城</th>
            <th>  商铺   </th>
            <th>    保证金  </th>
            <th>  交租金方式  </th>
            <th>租金/比例</th>
            <th>物业费</th>
            <th>合伙人</th>
            <th>入驻时间</th>
            <th> 商户名称  </th>
            <th> 店长 </th>
            <th>设置店长 </th> 
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gourmetplaceName)</td>
            <td>
                @Html.DisplayFor(modelItem => item.code)</td>
            <td>
                @Html.DisplayFor(modelItem => item.bond)</td>
            <td>
                @Html.DisplayFor(modelItem => item.rent_type)</td>
            <td>
                @Html.DisplayFor(modelItem => item.rent_money)</td>
            <td>
                @Html.DisplayFor(modelItem => item.management_cost)</td>
            <td>
                @Html.DisplayFor(modelItem => item.usernamae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enter_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shopowner)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "变更", new { id=item.id }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })*@
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
